:root {
	--teal: #031634;
	--cobalt: #033649;
	--turquoise: #066464;
	--beige: #CEB280;
	--gold: #EADDCC
}

html {
	box-sizing: border-box;
}

*, *::after, *::before {
	box-sizing: inherit;
}

body{
	margin: 0;
	padding: 0;
	background-color: var(--teal);
	color: white;
}